[submodule "libft"]
	path = libft
	url = https://github.com/tinsights/42clibft
	branch = main
[submodule "printf"]
	path = printf
	url = https://github.com/tinsights/42c-printf
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:tinsights/42c-get_next_line.git
[submodule "fractol"]
	path = fractol
	url = git@github.com:tinsights/42c-fractol.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:tinsights/42c-push_swap.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:tinsights/42c-pipex.git
[submodule "philo"]
	path = philo
	url = git@github.com:tinsights/42c-philo.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:tinsights/42c-minishell.git
[submodule "42c-cpp02"]
	path = 42c-cpp02
	url = git@github.com:tinsights/42c-cpp02.git
[submodule "cpp/42c-cpp06"]
	path = cpp/42c-cpp06
	url = https://github.com/tinsights/42c-cpp06
[submodule "cpp/42c-cpp07"]
	path = cpp/42c-cpp07
	url = git@github.com:tinsights/42c-cpp07.git
[submodule "cpp/42c-cpp08"]
	path = cpp/42c-cpp08
	url = git@github.com:tinsights/42c-cpp08.git
